body {
    background: linear-gradient(to right, #2b5876, #4e4376);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer {
  margin-top: auto;
}

.vh-100 {
    min-height: 100vh;
}

.navbar-brand img {
    width: 150px;
    height: 50px;
}

.centered-nav {
  display: flex;
  justify-content: center;
  width: 70%;
}

  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .form-container div{
    padding: 1%;
  }

  .show-profile-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;   
}

  .table-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.profile-content {
    display: flex;
    width: 100%; /* Ensure the div takes up the full width of the container */
    height: 100%;
}

.user-icon {
    margin-right: 5%;
    width:15%;
}

#modify-button {
    display: block;
    margin: 20px auto 0;
}
#catalog-table, #profile-table, .admin-content {
    width: 100%;
    height: auto;
}